### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data_file_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(data_file_path)
pymoli_df.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,141,Persuasion,3.19
99,99,Haisrisuir60,23,Male,101,Final Critic,4.19

## Player Count

* Display the total number of players

In [4]:
# Using the screen name as a tool, finding the count on unique names

player_count = len(pymoli_df["SN"].unique())
total_player_df = pd.DataFrame({"Total Players": [player_count]})
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Running basic calculations 
item_count = len(pymoli_df["Item ID"].unique())
avg_price = pymoli_df[["Price"]].mean().round(2)
total_purchases = len(pymoli_df["Item ID"])
total_rev = sum(pymoli_df["Price"])

# Creating the data frame
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [item_count], 
                                           "Average Price": avg_price, 
                                           "Number of Purchases": total_purchases,
                                           "Total Revenue": total_rev})

# Formatting the columns 
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchase_analysis_df

       Number of Unique Items Average Price  Number of Purchases Total Revenue
Price                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Establishing a variable to perform counts against another column
total_count = pymoli_df.groupby('Gender')
unique_count = total_count['SN'].nunique()
gender_percent = pymoli_df['Gender'].value_counts(normalize=True)

# Creating a data frame
gender_demo_df = pd.DataFrame({'Total Count': unique_count, 
                              'Percentage of Players': gender_percent})

# Formatting columns
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].astype(float).map("{:,.2%}".format)
gender_demo_df.head()

                       Total Count Percentage of Players
Female                          81                14.49%
Male                           484                83.59%
Other / Non-Disclosed           11                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Gender Count
gender = pymoli_df.groupby(['Gender'])

# Finding the totals for the other categories
avg_pur = gender['Price'].mean()
total_pur = gender['Price'].sum()
unique_pur_count = gender['SN'].count()
unique_gender = gender['SN'].nunique()
avg_total_pur = (gender['Price'].sum() / unique_gender)

# Creating the Data Frame
pur_analysis_df = pd.DataFrame({'Purchase Count': unique_pur_count,
                                'Average Purchase Price': avg_pur,
                                'Total Purchase Value': total_pur,
                                'Avg Total Purchase per Person': avg_total_pur})

# Formatting
pur_analysis_df['Avg Total Purchase per Person'] = pur_analysis_df['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format)
pur_analysis_df['Average Purchase Price'] = pur_analysis_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
pur_analysis_df['Total Purchase Value'] = pur_analysis_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)

pur_analysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Finding out the min and max ages for the data file

#print(pymoli_df["Age"].max())
#print(pymoli_df["Age"].min())

# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Assigning and labeling those bins
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(pymoli_df['Age'], bins, labels=group_labels)

# Creating a column to manipulate the data inside
pymoli_df["Age Group"] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

# Defining variables to use in formulas
age_group = pymoli_df.groupby('Age Group')
unique_age_group = age_group['SN'].nunique() 

# Hard coding total unique players to use against my list
total_players = 576
age_percent = [x / total_players for x in unique_age_group]

# Creating the Data Frame
age_demo_df = pd.DataFrame({'Total Count': unique_age_group, "Percentage of Players": age_percent })

#Formatting
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].astype(float).map("{:,.2%}".format)

age_demo_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Assigning and labeling those bins
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(pymoli_df['Age'], bins, labels=group_labels)

# Creating a column to manipulate the data inside
pymoli_df["Age Group"] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

# Defining variables to use in formulas
age_group = pymoli_df.groupby('Age Group')
unique_age_group = age_group['SN'].nunique() 

# Basic calculations/replicating the formulas from Purchasing Analysis (Gender)
purchase_count = age_group['Age'].count()
average_purchase = age_group['Price'].mean()
total_purchase_value = age_group['Price'].sum()
average_purchase_person = (age_group['Price'].sum()/unique_age_group)

# Create Data Frames
purchase_analysis__age_df = pd.DataFrame({'Purchase Count': purchase_count,
                                'Average Purchase Price': average_purchase,
                                'Total Purchase Value': total_purchase_value,
                                'Avg Total Purchase per Person': average_purchase_person})

# Formatting
purchase_analysis__age_df['Avg Total Purchase per Person'] = purchase_analysis__age_df['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format)
purchase_analysis__age_df['Average Purchase Price'] = purchase_analysis__age_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
purchase_analysis__age_df['Total Purchase Value'] = purchase_analysis__age_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)

purchase_analysis__age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Creating a variable to manipulate
SN_group = pymoli_df.groupby('SN')

# Do calculations on group
SN_count = SN_group['Age'].count()
SN_purchase = SN_group['Price'].mean()
SN_total_purchase = SN_group['Price'].sum()

# Create the data frame
SN_df = pd.DataFrame({'Purchase Count': SN_count,
                                'Average Purchase Price': SN_purchase,
                                'Total Purchase Value': SN_total_purchase})
# Formatting
SN_df['Average Purchase Price'] = SN_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
SN_df['Total Purchase Value'] = SN_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)

SN_df

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Grabbing the appropriate columns
most_pop_df = pymoli_df.loc[:, ['Item ID', 'Item Name', 'Price']]

# Grouping the data frame by the Item ID and Item Name so they're constantly visible together
pop_group = pymoli_df.groupby(['Item ID', 'Item Name'])

#Same calculations we did in previous excercises
pop_count = pop_group['Age'].count()
pop_purchase = pop_group['Price'].mean()
pop_total_purchase = pop_group['Price'].sum()

most_pop_df = pd.DataFrame({'Purchase Count': pop_count,
                                'Item Price': pop_purchase,
                                'Total Purchase Value': pop_total_purchase})
# Formatting
most_pop_df['Item Price'] = most_pop_df['Item Price'].astype(float).map("${:,.2f}".format)
most_pop_df['Total Purchase Value'] = most_pop_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)

most_pop_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,$1.28,$5.12
1,Crucifer,3,$3.26,$9.78
2,Verdict,6,$2.48,$14.88
3,Phantomlight,6,$2.49,$14.94
4,Bloodlord's Fetish,5,$1.70,$8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
180,Stormcaller,1,$3.36,$3.36
181,Reaper's Toll,5,$1.66,$8.30
182,Toothpick,3,$4.03,$12.09
183,Dragon's Greatsword,3,$1.09,$3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
most_profit_df = most_pop_df.sort_values("Total Purchase Value", ascending=False)
most_profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48